<!--
 * @Descripttion:
 * @version:
 * @Author: Andy
 * @Date: 2019-12-06 14:44:08
 * @LastEditors  : Andy
 * @LastEditTime : 2020-01-27 16:25:41
 -->
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>代码男孩个人博客</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
